
<table  width="60%" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th>ID</th>
        <th class="mdl-data-table__cell--non-numeric">Tipo de Habitacion</th>
        <th>precio</th>
        <th>ocupada</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% rooms.forEach( (room) => { %>
        <tr>
            <td><%= room.id %></td>
            <td class="mdl-data-table__cell--non-numeric"> <%= room.tipoHabitacion %> </td>
            <td><%= room.precio %></td>
            <td><%= room.ocupada %> </td>
            <td>

              <% if (usuario) {%>
                <% if (usuario.roles[0] === 'admin') {%>

                <form action="/room/editar-cuarto/<%= room.id %>/<%= motelId %>"
                      method="get"  >
                    <button class="mdl-button mdl-js-button mdl-button--primary"
                            type="submit">
                        <i class="material-icons">edit</i>
                        Editar
                    </button>

                </form>

                <form action="/room/eliminar/<%=motelId+'?roomId='+room.id%>"
                      method="POST">
                    <button
                            class="mdl-button mdl-js-button mdl-button--accent"
                            type="submit">
                        <i class="material-icons">delete_forever</i>
                        eliminar

                    </button>
                </form>

                 <%} else {%>
                    <form action="/room/eliminar/<%=motelId+'?roomId='+room.id%>"
                          method="POST">
                        <button
                                class="mdl-button mdl-js-button mdl-button--primary"
                                type="submit">
                            <i class="material-icons">add_shopping_cart</i>
                            Add to cart 

                        </button>
                    </form>
                    <%}%>

                <%}%>
            </td>
        </tr>
    <%});%>
    </tbody>
</table>
