



<table  width="60%" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th>ID</th>
        <th class="mdl-data-table__cell--non-numeric">Nombre</th>
        <th>Direccion</th>
        <th>zip code</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
       <% moteles.forEach( (motel) => { %>
        <tr>
            <td><%= motel.id %></td>
            <td class="mdl-data-table__cell--non-numeric"> <%= motel.nombre %> </td>
            <td><%= motel.direccion %></td>
            <td><%= motel.zipcode %> </td>
            <td>


                <form action="/room/ruta/mostrar-cuartos/<%= motel.id %>"
                      method="GET"  >
                    <button class="mdl-button mdl-js-button mdl-button--primary">
                        <i class="material-icons">airline_seat_flat</i>
                        Ver cuartos
                    </button>
                </form>

                <form action="/motel/ruta/editar-motel/<%= motel.id %>"
                      method="get"  >
                    <button class="mdl-button mdl-js-button mdl-button--primary"
                            type="submit">
                        <i class="material-icons">edit</i>
                        Editar
                    </button>

                </form>

                <form action="/motel/<%= motel.id %>"
                      method="POST">
                    <button
                            class="mdl-button mdl-js-button mdl-button--accent"
                            type="submit">
                        <i class="material-icons">delete_forever</i>
                        eliminar

                    </button>
                </form>


            </td>
        </tr>
    <%});%>
    </tbody>
</table>
